   body{
        background-color:rgb(29, 29, 29);
        margin: var(--margin);  
        padding: var(--padding);
        font-size: 1.2em !important;
        scroll-behavior: smooth !important;
    } 


.ez-ad-form {
    color:white;   
}

.ez-firstrow,.ez-secondrow{
    margin-left: 4rem;
}

@media only screen and (max-width:567px ){
    .ez-firstrow , .ez-secondrow, .ez-thirdrow{
        margin: 0 0 0 -2rem;
        width: 70%;
    }

    .col{
        margin-top: 3vh;
    }

    .container{
        padding: 0 !important;
        margin-right:0 !important ;
    }

    .ez-backHome{
        padding-right: 0 !important;
    }

    .ez-thirdrow{
        margin-right: 0 !important;
        margin-left: 3vh !important;
    }

    .ez-fbutton{
        margin-left:-15%;  
    }
    .ez-sbutton{
        width: 92% !important;
    }

    .ez-ad-subtitle{
        font-size: .9em;
        margin-right: 10% !important;
    }

    .ez-contact-problem{       
        margin-right: 10% !important;
    }

}

.ez-thirdrow{
    margin-left: 10vw !important;
}

.ez-ad-heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 !important;
}


.ez-submit{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    border: 0;
    background-color:rgb(219, 107, 66);
}

.ez-submit:hover , .ez-edit:hover{
    background-color: orangered ;
    color: black ;
}

.ez-contact-problem{
    margin: 3rem 0 3rem 15%;
}

.ez-anchor{
    color: white;
}

.ez-anchor:hover{
    color:rgb(219, 107, 66) !important;
}

.ez-edit{
    color: white;
    text-decoration: none;
}


.ez-shp{
    font-size: var(--ez-showpassword-size);
    cursor: var(--ez-showpassword-mouse);
}