   body{
        background-color: var(--background);
        margin: var(--margin);  
        padding: var(--padding);
        font-size: 1.2em !important;
        font-family:'exo_2regular' !important;
        scroll-behavior: smooth !important;
    } 


.ez-ad-form {
    color:white;
}

.ez-ad-heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 !important;
}


.ez-submit{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    border: 0;
    background-color:rgb(219, 107, 66);
}

.ez-submit:hover , .ez-edit:hover{
    background-color: orangered ;
    color: black ;
}

.ez-contact-problem{
    margin: 3rem 3rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem !important;
}

.ez-anchor{
    color: white;
}

.ez-anchor:hover{
    color:rgb(219, 107, 66) !important;
}

.ez-edit{
    color: white;
    text-decoration: none;
}


.ez-shp{
    font-size: var(--ez-showpassword-size);
    cursor: var(--ez-showpassword-mouse);
}