body{
    margin: var(--margin);  
    padding: var(--padding);
    font-size: 1.2em;
    font-family:'exo_2regular' !important;
    scroll-behavior: smooth !important;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
}



/* BANNER PART */

.ez-banner img{
    opacity: 75%;
    width: 100%;
    position: absolute;
    z-index: -1000;
}
.ez-heading{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: 'exo_2regular';
    font-size: 1.5em;
    color: black;
    
}

.ez-lux-subtitle{
    font-size: 0.7em;
}