body{
    margin: var(--margin);  
    padding: var(--padding);
    font-size: 1.2em;
    scroll-behavior: smooth !important;
    background-color:rgb(29, 29, 29);
}

/* Body Part of contact us*/

.ez-contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: white;
    font-size: 4rem;
}

@media only screen and (max-width:567px) {
    .ez-contact-title, .ez-contact-subtitle{
        font-size: 2.5rem;
        text-align: center;
    }

    .row{
        margin: 0 !important;
        text-align: center;
    }

    textarea{
        max-width: 200px !important;
    }

    .form-select{
        max-width: 300px;
    }

    .ez-submit{
        width: 70%;
        margin-left: 10%;
    }

    .ez-footer-logo
    {
        margin: 0;
    }
}


.ez-contact-form{
    color: white;
}

.ez-submit{
    background-color:rgb(219, 107, 66);
    border: 0;
}

.ez-submit:hover{
    background-color: orangered;
    color: black;
}

.ez-contact-subtitle{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 1.5rem;
}

.ez-form-con{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-left: 7vw;
}