body{
    background-color:rgb(29, 29, 29);
    margin: var(--margin);  
    padding: var(--padding);
    font-size: 1.2em !important;
    scroll-behavior: smooth !important;
} 

.ez-ad-form {
    color:white;
}

.ez-firstrow , .ez-secondrow{
    margin-left: 7%;
}

.ez-ad-heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 !important;
}


.ez-submit{
    width: 50%;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    border: 0;
    background-color:rgb(219, 107, 66);
}

.ez-submit:hover , .ez-edit:hover{
    background-color: orangered ;
    color: black ;
}

@media only screen and (max-width:567px){
    .ez-firstrow , .ez-secondrow, .ez-thirdrow{
        margin: 0 0 0 0;
        width: 70%;
    }

    .col{
        margin-top: 3vh;
    }

    .ez-submit{
        width:80%;
        margin-left: 20%;
    }
}



.ez-edit{
    color: white;
    text-decoration: none;
    margin-bottom: 5vh;
}

.ez-shp{
    font-size: var(--ez-showpassword-size);
    cursor: var(--ez-showpassword-mouse);
}