/* GENERAL INDEX.HTML DESING*/

body{
    margin: var(--margin);  
    padding: var(--padding);
    font-size: 1.2em;
    font-family:'exo_2regular' !important;
    scroll-behavior: smooth !important;
    offset: hidden;
}

/* BODY OF INDEX.HTML*/



.ez-upbutton a{
    color: black;
    text-decoration: none;
}

.ez-h5{
    font-style: italic;
    font-size:  2rem;
}

@media only screen and (max-width: 567px) {
    .ez-details {
      font-size: 10px;
    }

    .ez-preview{
        text-align: center;
        max-width: 80%;
        margin-left: 3vw;
    }

    .ez-car{
        width: 80%;
    }

    .ez-caption h5{
        font-size: 0.9em !important;
        margin: -8vh 0 0 0 ;
    }
  }

/* MAIN PART OF Index.html*/

.border{
    padding: 0;
}


.card-img-top{
    height: 16em !important;
}

.card-title{
    font-family:'exo_2regular';
    font-style: italic;
    font-size: 23px;
}

.card-text{
    font-family:'exo_2regular';
}

.btn{
    font-family:'exo_2regular';
    font-style: italic;
}

