body{
    margin: var(--margin);  
    padding: var(--padding);
    font-size: 1.2em;
    scroll-behavior: smooth !important;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
}



/* BANNER PART */

.ez-make-select{
    width:100% !important;
    font-size: 16px; 
}

.ez-banner-card img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.ez-card-body-banner{
    background-color: rgb(77, 75, 75);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: white !important;
    height: 5vh;
    padding: 0.8rem;
    align-items: center;
    flex-direction: row;
}
/*END BANNER PART*/

/* Cars ordering part */
.ez-carorder-cont{
    margin-top: 20vh;
}
.card-body{
    background-color: rgb(8, 8, 8);
    color:white;

}


@media only screen and (max-width:567px){
    .ez-card-body-banner{
        height: 9vh;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }

    .ez-card-title-banner{
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
    }


    .ez-make-select{
        width: 70%;
        margin-top: 5vh;        
    }

    .ez-banner-card img{
        display: none;
    }

    .ez-aboutdivider{
        display: none;
    }
}


#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  #popup2{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
 
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }

  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #2980b9;
  }



/* End Cars ordering part */