body{
    margin: var(--margin);  
    padding: var(--padding);
    font-size: 1.2em;
    scroll-behavior: smooth !important;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
}



/* BANNER PART */

.ez-make-select{
    width:100% !important;
    font-size: 16px; 
}
.ez-card-body-banner{
    background-color: rgb(77, 75, 75);
    color: white !important;
    height: 5vh;
    padding: 0.8rem;
    align-items: center;
    flex-direction: row;
}
/*END BANNER PART*/

/* Cars ordering part */
.ez-carorder-cont{
    margin-top: 20vh;
}
.card-body{
    background-color: rgb(8, 8, 8);
    color:white;

}


@media only screen and (max-width:567px){
    .ez-card-body-banner{
        height: 9vh;
    }

    .ez-make-select{
        width: 70%;        
    }
}



/* End Cars ordering part */